<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Get</legend>
        <form action="/user" method="GET">
            <label for="name"> name:  </label>
                <input type="text" name="name" placeholder="name" id="name"/>
         
            <label for="email">email</label>
                <input type="email" name="email" placeholder="email" id="email"/>
            
            <label for="password">
                <input type="password" name="password" placeholder="password" id="password"/>
            </label>
            <button type="submit">submit</button>
        </form>
    </fieldset>

    <fieldset>
        <legend>post</legend>
        <form action="/user" method="POST">
            <label for="name"> name:  </label>
                <input type="text" name="name" placeholder="name" id="name"/>
         
            <label for="email">email</label>
                <input type="email" name="email" placeholder="email" id="email"/>
            
            <label for="password">
                <input type="password" name="password" placeholder="password" id="password"/>
            </label>
            <button type="submit">submit</button>
        </form>
    </fieldset>
</body>
</html>