<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <form action="/blog" method="post">
            <label for="id">id:</label>
            <input type="text" name="id" id="id" placeholder="id">
            <br>
            <br>
            <label for="username">username:</label>
            <input type="text" name="username" id="username"  placeholder="username">
            <br>
            <br>
            
            <label for="comments">comment:</label>
            <input type="text" name="comment" id="comment" placeholder="comments">
            <br>
            <br>
            <button>Add</button>
        </form>
    </fieldset>
    
</body>
</html>